<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>黄广宁的管理系统</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/blogAdmin/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/blogAdmin/sass/stylesheets/index.css">
</head>

<body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{:url('index/index')}">黄广宁的管理系统</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{:session('admin.admin_username');}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{:url('Admin/adminManage')}">管理员管理</a></li>
                            <li><a href="{:url('Admin/outAdmin')}">退出当前管理员用户</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div id="app">
        <div class="row">
            <section class="list col-md-2 col-sm-2 hidden-xs">
                <nav-list>
                    <h6 slot="titel"><i class="icon-book"></i>文章管理</h6>
                    <template slot="li">
                        <li><a href="{:url('Article/index')}"><i class="icon-list"></i>文章列表</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{:url('Recycle/index')}"><i class="icon-trash icon-large"></i>文章回收站</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{:url('Recycle/index')}"><i class="icon-comment-alt"></i>文章评论</a></li>
                    </template>
                </nav-list>
                <nav-list>
                    <h6 slot="titel"><i class="icon-certificate"></i>分类管理</h6>
                    <template slot="li">
                        <li><a href="{:url('Cate/index')}"><i class="icon-list"></i>分类列表</a></li>
                    </template>
                </nav-list>
                <nav-list>
                    <h6 slot="titel"><i class=" icon-tags"></i>标签管理</h6>
                    <template slot="li">
                        <li><a href="{:url('Tag/index')}"><i class="icon-list"></i>标签列表</a></li>
                    </template>
                </nav-list>
                <nav-list>
                    <h6 slot="titel"><i class=" icon-cog"></i>网站信息管理</h6>
                    <template slot="li">
                        <li><a href="{:url('Website/index')}"><i class="icon-list"></i>网站信息管理列表</a></li>
                    </template>
                </nav-list>
            </section>
            {block name="content"}{/block}
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">警告</h4>
                        </div>
                        <div class="modal-body">
                            是否删除
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" id="confirm" @click="adminDel">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->
        </div>
        {block name="page"}{/block}
    </div>
    <footer class="footer">
        <span>Design by HGN的个人博客</span>&nbsp;&nbsp;<span>蜀ICP备11002373号-1</span>
    </footer>
    <template id="nav-list">
        <div class="btn-group col-md-12 col-sm-12 col-xs-12">
            <div type="button" class="btn btn-default col-md-12 col-sm-12 col-xs-12" @click="show = !show">
                <slot name="titel">标题</slot>
            </div>
            <template v-if="show">
                <ul class="dropdown-menu col-md-12 col-sm-12 col-xs-12">
                    <slot name="li">
                        管理列表
                    </slot>
                </ul>
            </template>
        </div>
    </template>
    <script type="text/javascript" src="__STATIC__/blogAdmin/node_modules/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="__STATIC__/blogAdmin/node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="__STATIC__/blogAdmin/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/blogAdmin/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script charset="utf-8" src="__STATIC__/blogAdmin/editor/kindeditor-min.js"></script>
    <script charset="utf-8" src="__STATIC__/blogAdmin/editor/lang/zh_CN.js"></script>
    <script type="text/javascript" src="__STATIC__/blogAdmin/script/vm.js"></script>
    <script type="text/javascript">
        var editor;
        KindEditor.ready(function(K) {
            editor = K.create('#kindEditor', {
                uploadJson: '__STATIC__/blogAdmin/editor/php/upload_json.php',
                fileManagerJson: '__STATIC__/blogAdmin/editor/php/file_manager_json.php',
                allowImageUpload: true, //多图上传
                allowFileManager: true, //浏览图片空间
                filterMode: false, //HTML特殊代码过滤
                afterBlur: function() { this.sync(); }, //编辑器失去焦点(blur)时执行的回调函数（将编辑器的HTML数据同步到textarea）
                afterUpload: function(url, data, name) { //上传文件后执行的回调函数，必须为3个参数
                    if (name == "image" || name == "multiimage") { //单个和批量上传图片时
                        if (K("#pic").length > 0) { //文本框存在
                            document.getElementById('piclist').options[document.getElementById('piclist').length] = new Option(url, url); //下拉列表框增加一条
                            document.getElementById('piclist').selectedIndex += 1; //选定刚新增的这一条
                            K("#indexpicimg").html("<img src='" + url + "' width='150' height='95' />"); //重置图片展示区DIV的HTML内容
                            K("#pic").val(url); //重置文本框值
                        }
                    }
                }
            });
        });
    </script>
</body>

</html>