{extend name="base" /}
{block name="content"}
<section class="main col-md-9 col-sm-8" id="main">
    <ol class="breadcrumb">
        <li>
            <a href="{:url('Admin/adminManage')}">管理员列表</a>
        </li>
        <li class="active">
            <a href="{:url('Admin/addAdmin')}">添加管理员</a>
        </li>
    </ol>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>编号</th>
                <th>管理员名称</th>
                <th>操作</th>
                <th>全选</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(data, index) in res" :key="index">
                <td>{{ data.admin_id }}</td>
                <td>{{ data.admin_username }}</td>
                <td>
                    <span class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-primary btn-xs" data-toggle="dropdown">操作 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('eidtAdmin')}">编辑</a></li>
                        <li><a href="JavaScript:;" class="del"  @click="delIdFn(data.admin_id)">删除</a></li>
                    </ul>
                </span>
                </td>
                <td><input type="checkbox" name="" :checked="data.checked" @click="data.checked = !data.checked"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="width:20%;">
                    <input type="checkbox" name="" :checked="checkFlag" @click="checkFlag = !checkFlag" >
                    <button class="btn btn-danger" @click="delIdFn(delIds)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="paging">
    </div>
</section>
{/block}
