{extend name="base" /}
{block name="content"}
<section class="main col-md-9 col-sm-8">
    <ul class="nav nav-pills">
        <li role="presentation" class="active">
            <a href="{:url('index')}">回收站列表</a>
        </li>
    </ul>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>编号</th>
                <th>标题</th>
                <th>摘要</th>
                <th>作者</th>
                <th>排序</th>
                <th>更新时间</th>
                <th>添加时间</th>
                <th>全选</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in res" :key="index">
                <td>{{item.arc_id}}</td>
                <td>{{item.arc_title}}</td>
                <td>{{item.arc_abstract}}</td>
                <td>{{item.arc_author}}</td>
                <td>{{item.arc_sort}}</td>
                <td>{{item.updatetime}}</td>
                <td>{{item.sendtime}}</td>
                 <td>
                    <input type="checkbox" name="" :checked="item.checked" @click="item.checked = !item.checked">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="width:20%;">
                    <input type="checkbox" name="" :checked="checkFlag" @click="checkFlag = !checkFlag">
                    <button class="btn btn-danger" @click="recycleFn">恢复文章</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="paging">
    </div>
</section>
{/block}
{/block} {block name="page"}
<page :page-Res="pageRes" @get="getData" @load="load"></page>
{/block}