<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>广州城建实习系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="__STATIC__/practiceTeacher/css/font.css">
    <link rel="stylesheet" href="__STATIC__/practiceTeacher/css/xadmin.css">
    <script type="text/javascript" src="__STATIC__/practiceTeacher/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
     <div class="x-nav">
        <span class="layui-breadcrumb" lay-separator="|">
        <a href="javascript:history.back(-1)">返回上级</a>
        <a><cite>添加学生</cite></a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <form class="layui-form">
            <div class="layui-form-item">
                <label for="stu_numBer" class="layui-form-label">
                    学号
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="stu_numBer" name="stu_numBer" autocomplete="off" class="layui-input" placeholder="学号" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="stu_name" class="layui-form-label">
                    姓名
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="stu_name" name="stu_name" autocomplete="off" class="layui-input" placeholder="姓名">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="identity" class="layui-form-label">
                    身份证
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="identity" name="identity" autocomplete="off" class="layui-input" placeholder="身份证">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="stu_phone" class="layui-form-label">
                    联系电话
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="stu_phone" name="stu_phone" autocomplete="off" class="layui-input" placeholder="联系电话" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="classteacher" class="layui-form-label">
                    班主任名称
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="classteacher" name="classteacher" autocomplete="off" class="layui-input" placeholder="联系电话">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="classteacher_phone" class="layui-form-label">
                    班主任联系电话
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="classteacher_phone" name="classteacher_phone" autocomplete="off" class="layui-input" placeholder="联系电话" onkeyup="(this.v=function(){this.value=this.value.replace(/[^0-9-]+/,'');}).call(this)" onblur="this.v();">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="add" lay-submit="" type="button">
                    增加
                </button>
            </div>
        </form>
        <input type="hidden" name="class_id" value="{$class_id}" id="class_id">
    </div>
    <script>
    layui.use(['form', 'layer', 'element'], function() {
        $ = layui.jquery;
        var form = layui.form,
            layer = layui.layer;
        //监听提交
        form.on('submit(add)', function(data) {
            var class_id =$('#class_id').val()
            $.ajax({
                type: "post",
                url: '/teacher/Checkc/addstu?class_id='+class_id,
                traditional: true,
                dataType: "json",
                data: data.field,
                success: function(data) {
                    if (data['valid']) {
                        layer.msg(data['msg'], {
                            time: 1000, //2秒关闭（如果不配置，默认是3秒）//
                            icon: 1, //提示的样式
                            end: function() {
                                 javascript:history.back(-1)
                            }
                        });
                    } else {
                        layer.msg(data['msg']);
                    }
                }
            });

            return false;
        });

    });
    </script>
</body>

</html>