<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>广州城建实习系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="__STATIC__/practiceTeacher/css/font.css">
    <link rel="stylesheet" href="__STATIC__/practiceTeacher/css/xadmin.css">
    <script type="text/javascript" src="__STATIC__/practiceTeacher/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="__STATIC__/practiceTeacher/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    .layui-table th,
    .layui-table td {
        text-align: center;
    }

    .layui-badge {
        height: inherit;
    }


</style>

<body>
<div class="x-nav">
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <fieldset class="layui-elem-field">
        <legend>第<span class="week" style="font-size: 20px; font-weight: bold;">
            {foreach $weekArr as $v}

            {if condition="$v['weekNumBer'] == date('W',time()) "}
                {$v['weekShow']+1}
            {/if}
            {/foreach}
            </span>周未签到学生名单
        </legend>
        <div class="layui-field-box">
            <div class="layui-form layui-col-md12 x-so">
                <div class="layui-col-md2 layui-col-sm2">
                    <select name="city" lay-verify="" class="layui-input" id="Week" style="z-index: 111"
                            lay-filter="select">
                        <option value="">签到时间</option>
                        {foreach $weekArr as $v}

                        {if condition="$v['weekNumBer'] == date('W',time()) "}
                        <option selected value="{$v['weekNumBer']}">第{$v['weekShow']+1}周</option>
                        {else/}
                        <option value="{$v['weekNumBer']}">第{$v['weekShow']+1}周</option>
                        {/if}
                        {/foreach}

                    </select>
                </div>
                <input id="input" type="text" name="search" placeholder="请输入名称或学号" class="layui-input">
                <button type="button" id="search" class="layui-btn"><i class="layui-icon">&#xe615;</i></button>
            </div>
            <div class="layui-row">

                <div class="x-nav">
                    <span>共有<span style="font-size: 18px; font-weight: bold;" id="count"></span>位学生未签到</span>

                    <botton class="layui-btn" style="float: right;" id="exporSign">
                        导出未签到学生数据
                    </botton>
                </div>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;显示数据条数<input type="text" id="row" value="10"
                                                                       style="width: 25px;height: 25px;"></span>

                <div class="layui-col-md12">
                    <table class="layui-table">
                        <thead>
                        <tr>
                            <th>学号</th>
                            <th>名称</th>
                            <!--<th>最近签到时间</th>-->
                            <th>签到状态</th>
                            <!--<th id="changge" style="cursor: pointer;"><a href="javascript:;">本月是否签到</a></th>-->
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="tbody">
                    </table>
                </div>
            </div>
            <a class="layui-btn" onclick="x_admin_show('修改信息','/teacher/Checkc/signinOff?class_id={$class_id}')"
               href="javascript:;">
                签到学生名单
            </a>
            <input type="hidden" name="" value="{$class_id}" id="hide">
            <div class="page">
                <div id="test1"></div>
            </div>
        </div>
    </fieldset>

</div>
</body>
<script type="text/javascript">
    var cge = 1;
    var dataSign = null;
    var data = null;
    var row = 10;
    $(function () {

        var week = $('#Week').val()
        search['select'] = week

        page(search)

        changge()
        search()
        select()
        exporSign()

        $('#row').blur(function () {
            var r = $(this).val()
            row = r

            var week = $('#Week').val()
            search['select'] = week
            page(search)

        })
    })

    function page(search) {
        layui.use(['laypage', 'layer'], function () {
            var class_id = $('#hide').val();
            var laypage = layui.laypage;
            $.ajax({
                type: "post",
                url: '/teacher/checkc/signininfo?class_id=' + class_id + '&changge=' + cge,
                traditional: true,
                dataType: "json",
                data: search,
                beforeSend: function () {
                    index = parent.layer.load(0, {
                        shade: [0.2, '#393D49']
                    });
                },
                success: function (data) {
                    parent.layer.close(index)

                    var len = data.length
                    dataSign = data

                    $('#count').html(len)

                    laypage.render({
                        elem: 'test1', //注意，这里的 test1 是 ID，不用加 # 号
                        count: len, //数据总数，从服务端得到
                        limit: row,
                        jump: function (obj, first) {


                            if (obj.curr > 1) {

                                var start = obj.curr * obj.limit - obj.limit

                                var data = dataSign.slice(start, obj.curr * obj.limit)
                            }

                            if (obj.curr == 1) {
                                var start = 0

                                var data = dataSign.slice(start, start + obj.limit)
                            }

                            if (!data.length > 0) {
                                $("#tbody").empty();

                                $("#tbody").append('<td colspan="4" style="text-align: center;"> 暂时没有数据 </td>');

                            } else {
                                $("#tbody").empty();
                                var data_html = "";
                                $.each(data, function (index, array) {
                                    data_html += `<tr>
                                <td>` + array['stu_numBer'] + `</td>
                                <td>` + array['stu_name'] + `</td>
                                <td><span class="layui-badge">未签到</span></td>
                                <td>
                                    <a title="学生信息" onclick="x_admin_show('修改信息','/teacher/Checkc/stuInfo?id=` + array['stu_id'] + `&flag=1')" href="javascript:;">
                                        <i class="layui-icon">&#xe63c;</i>
                                    </a>
                                </td>
                            </tr>`;
                                });
                                $("#tbody").append(data_html);
                            }
                        }
                    });
                }
            })
        });
    }

    function changge() {
        var changge = false;
        $('#changge').click(function () {
            if (changge) {
                cge = 1;
                page(data)
                changge = !changge
            } else {
                cge = 0;
                page(data)
                changge = !changge
            }
        })
    }
    function search() {
        $('#input').keypress(function (event) {
            var keynum = (event.keyCode ? event.keyCode : event.which);
            if (keynum == '13') {
                var val = $('#input').val();
                if (!val) {
                    layer.msg('请填写您要查询的数据', {
                        icon: 2, //提示的样式
                        time: 1000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
                        end: function () {
                            layer.closeAll('dialog')
                        }
                    });
                } else {
                    var search = {}
                    search['sea'] = val
                    data = search;
                    page(data)
                }
            }
        });
        $('#search').click(function () {
            var val = $('#input').val();
            if (!val) {
                layer.msg('请填写您要查询的数据', {
                    icon: 2, //提示的样式
                    time: 1000, //2秒关闭（如果不配置，默认是3秒）//设置后不需要自己写定时关闭了，单位是毫秒
                    end: function () {
                        layer.closeAll('dialog')
                    }
                });
            } else {
                var search = {}
                search['sea'] = val
                data = search;
                page(data)
            }
        })
    }


    function select() {

        layui.use('form', function () {
            var form = layui.form;

            form.on('select(select)', function (data) {

                var search = {}
                $('#input').val('');

                search['select'] = data.value
                data = search;
                page(data)

            });

        })
    }

    function exporSign() {


        var postDownLoadFile = function (options) {
            var config = $.extend(true, {method: 'post'}, options);
            var $iframe = $('<iframe id="down-file-iframe" />');
            var $form = $('<form target="down-file-iframe" method="' + config.method + '" />');
            $form.attr('action', config.url);

            for (var key in config.data) {
                $form.append('<input type="hidden" name="' + key + '" value="' + config.data[key] + '" />');
            }
            $iframe.append($form);
            $(document.body).append($iframe);
            $form[0].submit();
            $iframe.remove();
        }


        $('#exporSign').click(function () {

            $stu_id = []

            dataSign.forEach(function (item, index) {
                $stu_id.push(item['stu_id'])
            })


            postDownLoadFile({
                url: '/teacher/Export/excel',
                data: $stu_id,
                method: 'post'
            });

        })
    }


</script>

</html>