<!DOCTYPE html>
<html>

<head>
   <meta charset="UTF-8">
    <title>广州城建实习系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-- <link rel="stylesheet" href="__STATIC__/practiceTeacher/css/font.css"> -->
    <link rel="stylesheet" href="__STATIC__/practiceTeacher/css/xadmin.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">

    <script type="text/javascript" src="__STATIC__/practiceTeacher/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="__STATIC__/practiceTeacher/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/js/echarts.common.min.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/js/xadmin.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/js/practiceInfo.js"></script>
    <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>



    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
   <div class="x-nav">
            <span class="layui-breadcrumb" lay-separator="|">
            {if condition="$authority == 1"}
            <a href="javascript:history.back(-1)">返回上级</a>
            {/if}
            <a><cite>学生详细信息</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
        <div class="layui-row">
            <div class=" layui-col-md4">
                <table class="layui-table stuInfo">
                    <thead>
                        <tr>
                            <th>学生资料</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>姓名:<span data-name="stu_name">{$data['stu_name']}</span></td>
                        </tr>
                        <tr>
                            <td>学号:<span data-name="stu_numBer">{$data['stu_numBer']}</span></td>
                        </tr>
                        <tr>
                            <td>身份证:<span data-name="identity">{$data['identity']}</span></td>
                        </tr>
                        <tr>
                            <td>联系电话:<span data-name="stu_phone">{$data['stu_phone']}</span></td>
                        </tr>
                        <tr>
                            <td>班主任:<span data-name="classteacher">{$data['classteacher']}</span></td>
                        </tr>
                        <tr>
                            <td>班主任联系电话:<span data-name="classteacher_phone">{$data['classteacher_phone']}</span></td>
                        </tr>
                         <tr>
                            <td>跟班教师:<span data-name="tch_name">{$data['tch_name']}</span></td>
                        </tr>
                        <tr>
                            <td>跟班教师联系电话:<span data-name="tch_phone">{$data['tch_phone']}</span></td>
                        </tr>
                    </tbody>
                </table>
                <table class="layui-table practiceInfo">
                    <thead>
                        <tr>
                            <th>实习资料</th>
                        </tr>
                    </thead>
                    <tbody>
                        <input type="hidden" id="company_id" value="{$data['company_id']}">
                        <tr>
                            <td>单位名称:<span data-name="company_name">{$data['company_name']}</span></td>
                        </tr>
                        <tr>
                            <td>单位地址:<span data-name="company_address">{$data['company_address']}</span></td>
                        </tr>
                        <tr>
                            <td>月薪:<span data-name="company_salary">{$data['company_salary']}</span></td>
                        </tr>
                        <tr>
                            <td>职位:<span data-name="company_position">{$data['company_position']}</span></td>
                        </tr>
                        <tr>
                            <td>单位负责人:<span data-name="principal">{$data['principal']}</span></td>
                        </tr>
                        <tr>
                            <td>单位负责人联系电话:<span data-name="principal_phone">{$data['principal_phone']}</span></td>
                        </tr>
                         <tr>
                            <td colspan='2' style="text-align: center;">
                                <a href="javascript:;" onclick="x_admin_show('实习资料','/teacher/Checkc/company?stu_id={$data['stu_id']}')">历史记录</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {if condition="$flag!=2"}
            <div class="layui-col-md8">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th colspan='2' style="text-align: center;">签到记录</th>
                        </tr>
                        {if condition="$sginin"}
                        <tr>
                            <th>签到时间</th>
                            <th>签到地址</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $sginin as $vo}
                        <tr>
                            <td>
                                {:date('Y-m-d h:i:s',$vo['sendtime'])}
                            </td>
                            <td>
                                {$vo['address']}
                            </td>
                        </tr>
                        {/foreach}
                        <tr>
                            <td colspan='2' style="text-align: center;">
                                <a href="javascript:;" onclick="x_admin_show('签到历史记录','/teacher/Checkc/signin?stu_id={$vo['stu_id']}')">历史记录</a>
                            </td>
                        </tr>
                        {else/}
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan='2' style="text-align: center;">学生还没有签到记录</td>
                        </tr>
                        {/if}
                    </tbody>
                </table>
            </div>
            {/if}
            {if condition="$flag!=1"}
               <div class="layui-col-md8">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th colspan='2' style="text-align: center;">日志记录</th>
                        </tr>
                        {if condition="$logs"}
                        <tr>
                            <th>日志时间</th>
                            <th>日志摘要</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $logs as $vo}
                        <tr  class="logs" data-id="{$vo['logs_id']}" style="cursor: pointer;">
                            <td>
                                {:date('Y-m-d h:i:s',$vo['sendtime'])}
                            </td>
                            <td>
                                {$vo['logs_content']}
                            </td>
                        </tr>
                        {/foreach}
                        <tr>
                            <td colspan='2' style="text-align: center;">
                                <a href="javascript:;" onclick="x_admin_show('日志历史记录','/teacher/Checkc/logs?stu_id={$vo['stu_id']}')">历史记录</a>
                            </td>
                        </tr>
                        {else/}
                        </thead>
                         <tbody>
                        <tr>
                            <td colspan='2' style="text-align: center;">学生未填写过日志</td>
                        </tr>
                        {/if}
                    </tbody>
                </table>
            </div>
            {/if}
        </div>
    </div>
</body>

<input type="hidden" id="stu_id" value="{$stu_id}">
<script type="text/javascript">
    $(function(){
        cli()
    })
    function cli(){
    $('.logs').click(function(){
        var id = $(this).attr('data-id')
        location.href = '/teacher/Checkc/lookLogs?id='+id
    })

}
</script>
</html>