@charset "UTF-8";
/* 头部变量 */
/* main-author */
/* PopularPosts */
/* line 4, ../sass/content.scss */
#main .main-left .title {
  margin: 0 auto;
}

/* line 8, ../sass/content.scss */
#header .nav-list .active span {
  border-top: 10px solid #1C2324;
  border-left: 50px solid #1C2324;
  border-right: 50px solid #1C2324;
  border-bottom: 40px solid transparent;
}

/* line 15, ../sass/content.scss */
.article {
  margin: 60px auto;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}
/* line 20, ../sass/content.scss */
.article p {
  color: #000;
  text-align: left;
}
/* line 24, ../sass/content.scss */
.article:hover {
  box-shadow: none;
}
@media (min-width: 768px) {
  /* line 15, ../sass/content.scss */
  .article {
    width: 90%;
  }
}
/* line 30, ../sass/content.scss */
.article .arctitle {
  margin: 0 auto;
  margin-bottom: 10px;
}
/* line 34, ../sass/content.scss */
.article .tag span {
  margin-left: 20px;
  color: #000;
}
/* line 35, ../sass/content.scss */
.article .tag span:nth-child(1) {
  margin-left: 0;
}
/* line 40, ../sass/content.scss */
.article .tag span:hover {
  color: #337ab7;
}
