<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>广州城建实习系统</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/practiceIndex/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="__STATIC__/practiceIndex/css/font-awesome.min.css" rel="stylesheet">
    <link href="__STATIC__/practiceIndex/css/swiper-4.2.6.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/practiceIndex/sass/stylesheets/index.css">

    <script type="text/javascript" src="__STATIC__/practiceTeacher/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/layui/css/layui.css">
    <script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/js/xadmin.js"></script>
</head>

<body>
    <header class="row header">
        <div class="col-sm-12">
            <img src="__STATIC__/practiceIndex/sass/image/log.png">
            <h4>{:session('stu.stu_name');}</h4>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    菜单 {if condition="$signin OR $notice"}
                    <span class="badge"> </span> {/if}
                </button>
                <ul class="dropdown-menu pull-left">
                    <li>
                        <a href="javascript:;" id="signIn">签到
                            {if condition="$signin"} <span class="badge"> </span>
                            {/if}
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{:url('/notice')}">日志反馈
                            {if condition="$notice"}
                            <span class="badge">{$notice}</span></a> {/if}
                    </li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{:url('/editpas')}">更改密码</a></li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="javascript:;" id="out">退出当前用户</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    {block name="content"}{/block}
    <footer>
        <p class="webInfo">
            <a href="">Copyright ©{:date('Y',time())} 广州城建技工学校 All Rights Reserved</a>
        </p>
    </footer>
    <script type="text/javascript" src="__STATIC__/practiceIndex/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceIndex/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="__STATIC__/practiceIndex/script/swiper-4.2.6.min.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=29f7a4936e5a84ff1e48a5f41cf9b080"></script>
    <!-- <script type="text/javascript" src="__STATIC__/practiceIndex/layer_mobile/layer_mobile/layer.js"></script> -->
    <script type="text/javascript" src="__STATIC__/practiceIndex/Eleditor/Eleditor.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceIndex/Eleditor/webuploader.min.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceIndex/script/index.js"></script>
    <script type="text/javascript">
    /*实例化一个编辑器*/
    var artEditor = new Eleditor({
        el: '#kindEditor',
        upload: {
            server: '/index/Index/upload', //后台接收地址
            fileSizeLimit: 2, //限制文件上传大小为2M
            formName: 'image', //设置文件name,

        },
         toolbars: [
                // 'insertText',
                // 'editText',
                // 'undo',
                'insertImage',
                'delete',
                'cancel',
                ],
    });
    $('.Eleditor-controller').css({"top": "0px"})


//    layui.use('laydate', function(){
//      var laydate = layui.laydate;
//
//      //执行一个laydate实例
//      laydate.render({
//        elem: '#date' //指定元素
//      });
//    });
    
    </script>
</body>

</html>