<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>广州城建技术学校实习生登录</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/practiceIndex/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/practiceIndex/sass/stylesheets/login.css">
</head>
<body>
	<div class="container row">
		<h3>实习生管理系统</h3>
		<section class="login col-sm-8 col-md-3 col-xs-12" style="padding: 0;height: 300px;">
			<form action="" method="POST" role="form" id="loginForm" style="width: 100%;">
				<h5>欢迎登录实习系统</h5>
				<div>
					<i class="icon-user"></i>
					<input type="text" name="stu_numBer" placeholder="请输入你的学号">
				</div>
				<div>
					<i class="icon-key"></i>
					<input type="password" name="stu_password" placeholder="请输入你的密码">
				</div>
				<button class="btn" type="button" id="login" style="margin-top: 20px;">登录</button>
			</form>
			<a href="{:url('editPsw')}" class="editPsw">忘记密码</a>
		</section>
	</div>
	<script type="text/javascript" src="__STATIC__/practiceIndex/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceIndex/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceIndex/layer_mobile/layer_mobile/layer.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceIndex/script/login.js"></script>
</body>
</html>