{extend name="base" /} {block name="content"}
<section class="main col-md-9 col-sm-8">
    <ul class="nav nav-pills">
        <li role="presentation">
            <a href="{:url('index')}">配置列表</a>
        </li>
        <li role="presentation" class="active">
            <a href="{:url('addWeb')}">添加配置项</a>
        </li>
    </ul>
    <hr>
    <form action="" method="POST" role="form">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="text-right">
                        <label for="exampleInputEmail1">配置名称:</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="exampleInputEmail1" name="web_name">
                    </td>
                </tr>
                <tr class="text-right">
                    <td>
                        <label for="exampleInputEmail3">配置值</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="exampleInputEmail3"  name="web_value">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-info pull-right" type="submit">提交</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="paging">
    </div>
</section>
{/block}