{extend name="base" /} {block name="content"}
<section class="main col-md-9 col-sm-8">
    <ul class="nav nav-pills">
        <li role="presentation">
            <a href="{:url('index')}">文章列表</a>
        </li>
        <li role="presentation" class="active">
            <a href="#">编辑文章</a>
        </li>
    </ul>
    <hr>
    <form action="" method="POST" role="form" enctype="multipart/form-data">
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-right">
                        <label for="exampleInputEmail1">标题</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="title" name="arc_title" value="{$oldData['arc_title']}">
                    </td>
                </tr>
                <tr>
                    <td class="text-right">
                        <label for="exampleInputEmail2">摘要</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="abstract" name="arc_abstract" value="{$oldData['arc_abstract']}">
                    </td>
                </tr>
                <tr class="text-right">
                    <td>
                        <label for="exampleInputEmail3">作者</label>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="exampleInputEmail3" placeholder="author" name="arc_author" value="{$oldData['arc_author']}">
                    </td>
                </tr>
                <tr class="text-right">
                    <td>
                        <label for="exampleInputEmail7">分类</label>
                    </td>
                    <td>
                        <select class="form-control" style="width:60%;" name="cate_id">
                            {foreach $cateData as $v} {if condition="$v['cate_id'] == $oldData['cate_id']"}
                            <option value="{$v['cate_id']}" selected="true">{$v['cate_name']}</option>
                            {else /}
                            <option value="{$v['cate_id']}">{$v['cate_name']}</option>
                            {/if} {/foreach}
                        </select>
                    </td>
                </tr>
                <tr class="text-right">
                    <td>
                        <label for="exampleInputEmail8">标签</label>
                    </td>
                    <td class="text-left">
                        {foreach $tagData as $v} {if condition="in_array($v['tag_id'], $arcTag)"}
                        <input type="checkbox" name="tag[]" style="width:5%;" value="{$v['tag_id']}" checked="true">{$v['tag_name']}
                        {else/}
                        <input type="checkbox" name="tag[]" style="width:5%;" value="{$v['tag_id']}">{$v['tag_name']}
                        {/if}
                         {/foreach}
                    </td>
                </tr>
                <tr class="text-right">
                    <td>
                        <label for="exampleInputEmail4">排序</label>
                    </td>
                    <td>
                        <input type="number" class="form-control" id="exampleInputEmail4" name="arc_sort" value="{$oldData['arc_sort']}">
                    </td>
                </tr>
                <tr class="text-right">
                    <td>
                        <label for="exampleInputEmail5">缩略图</label>
                    </td>
                    <td>
                        <input type="file" class="form-control" id="exampleInputEmail5" name="file">
                    </td>
                </tr>
                <tr class="text-right">
                    <td>
                        <label for="exampleInputEmail6">内容</label>
                    </td>
                    <td>
                        <textarea id="kindEditor" name="arc_content">{$oldData['arc_content']}</textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-info pull-right">提交</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <div class="paging">
    </div>
</section>
{/block}