$centerWidth:80%;
$famliy:微软雅黑;
/* 头部变量 */
$headerH : 80px;

/* main-author */
$authorWH:37px;

/* PopularPosts */
$postsH4:16px;
$postsImgW:80px;
$postsImgH:61px;

$liColor: #233234, #081B1E, #1C2324, #081B1E;

