@import "normalize";
@import "compass/css3";
@import "variable","mixin";

body{
	min-width:300px;
	background:#EEEEEE;
	font-family: "KaiTi";
	a{
		&:link,a:visited{
			color:#444;text-decoration:none;
		}
	}
}
/* 头部 */
#header{
	background: -webkit-linear-gradient(left, #233234 60%, #080808); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #233234 60%, #080808); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, #233234 60%, #080808); /* Firefox 3.6 - 15 */
	background: linear-gradient(to right, #233234 60%, #080808); /* 标准的语法 */

	margin-bottom:0;
	border:none;
	width:100%;
	padding:0;
	position:fixed;
	top:0px;
	z-index:300;
	box-shadow:0px 2px 2px #233234;
	border-radius:0;

	.navbar-collapse a{
		font-weight:bold;
	}
	.log{
		padding-left:10px;
		font-size:.25rem;
		font-weight:bold;
		color:#fff;
		@include Center($headerH);
	}
	@media (min-width: 768px){
		height:$headerH;
		.navbar-collapse{
			float:right;
			@media (min-width:768px) {
				margin-top:10px;
			}
		}
		.nav-list{
			margin-top:-10px;
			position:relative;
			&:before {
				content:"";
				display:inline-block;
				width:10px;
				height:10px;
				position:absolute;
				left:-10px;
				top:0;
				border-color:#000;
				border-style:solid;
				border-top-color: transparent;
				border-left-color: transparent;
				border-bottom-width: 5px;
				border-left-width: 5px;
				border-top-width: 5px;
				border-right-width: 5px;
			}
			@media (min-width:768px){
				padding-left:0;
			}
		}
		li{
			width:100px;
			text-align:center;
			display:inline-block;
			float:left;
			position:relative;
			box-sizing:border-box;
			box-shadow:-2px 0px 10px #081B1E;

			@for $i from 1 through 4 {
			  &:nth-child(#{$i}) {
			  	background:nth($liColor,$i);
			  }
			}
			a{
				display:inline-block;
				@include Center($headerH);
				font-size:.15rem;
				height:100%;
				color:#fff;
			}
		}
		.nav-list li span{
			display:inline-block;
			width: 0;
			height: 0;
			position: absolute;
		    top: 80px;
		    left: 0px;
		    border-style:solid;
		    border-top-width: 0px;
			border-left-width: 50px;
			border-right-width: 50px ;
			border-bottom-width: 0px;
		}
		.nav-list .active span{
		    border-top-width: 20px;
			border-bottom-width: 40px;
		}
	}

	@media (max-width: 767px){
		.navbar-collapse{
			border:none;
		}
		.nav-list{
			padding-left:0;
			margin-bottom:0;
		}
		li{
			text-align:center;
			list-style-type: none;
			padding:5px 0;
			&:hover{
				a{
					color:#fff;
					font-size:.12rem;
				}
			}
		}
	}
	.navbar-toggle{
		top:18px;
	}
}

/* banner */
#banner{
	height:400px;
	background:#333;
	margin-top:82px;
		img{
			width:100%;
			height:100%;
		}

}

#main{
	margin: 0 auto;
	margin-top:50px;
	padding:0;
	zoom:1;
	.main-left{
		float:left;
		padding:0;
		display: flex;
    	flex-wrap: wrap;
    	.title {
    		display:block;
    		border-bottom:2px solid #ccc;
    		width:90%;
   			@media (max-width:768px) {
   				width:90%;
   				margin:0 auto;
   			}
    	}
		@at-root{
			.article{
				padding:0 15px;
				margin-top:30px;
				flex-basis:auto;
				padding-bottom:20px;
				background:#fff;
				margin-left:50px;
				border-radius:10px;
				@media (min-width:768px) {
					margin-left:1%;
				}
				@media (max-width:768px) {
	   				margin:30px auto;
	   				width:80%;
	   			}
	   			@media (min-width:992px) {
	   			}
				img{
					width:100%;
					margin-top:10px;
				}
				h4{
					font-size:.22rem;
					margin-top:50px;
					margin-bottom:20px;
				}
				span{
					&:nth-of-type(1){
						display:inline-block;
						margin-bottom:10px;
					}
				}
				p{
					margin-bottom:20px;
					line-height:30px;
				}
				&:hover {
					box-shadow:0px 0px 10px #081B1E;
				}
			}
		}
	}
	.main-right{
		float:right;
		margin-top:60px;
		padding:0;
		.search{
			width:100%;
			height:47px;
			line-height:47px;
			border:2px solid #eee;
			background-color: #fff;
			position:relative;
			input{
				width:70%;
				height:40px;
				float:left;
				border:0;
				outline:none;
				margin-left:20px;
			}
			span{
				font-size:.25rem;
				top:50%;
				transform:translateY(-50%);
				color:#e8e3e3;
				position:absolute;
				right:10px;
				&:hover{
					color:#000;
					cursor:pointer;
				}
			}
		}
	}
	@at-root{
		.Categones{
			margin-top:60px;
			padding:0 10px;
			ul{
				width:100%;
				padding-left:20px;
				font-size:.14rem;
				margin-top:15px;
				li{
					list-style-type:none;
					border:1px solid #ccc;
					display:inline-block;
					margin-top:10px;
					text-align:center;
					transition:.5s;
					padding:2px 5px;
					a{
						color:#000;
					}
					&:hover{
						background:#1C2324;
						a{
							color:#fff;
						}
					}
				}
			}
		}
		.HotArticle{
			margin-top:60px;
			padding:0 10px;
			margin-top:56px;
			ul{
				margin-top:35px;
				padding:0;

				li{
					height:60px;
					width:100%;
					list-style-type:none;
					position:relative;
					margin-top:27px;
					a{
						display:inline-block;
						width:100%;
						height:$postsImgH;
						&:hover{
							border-right:2px solid #1C2324;
						}
					}
					img{
						width:$postsImgW;
						height:$postsImgH;
					}
					h4{
						display:inline-block;
						margin:0;
						position: absolute;
						top:-0;
						left:$postsImgW+30;
						font-size:.16rem;
						font-weight: bold;
					}
					span{
						display:inline-block;
						position: absolute;
						top:16+15px;
						left:$postsImgW+30;
						color:#c0c0c0;
					}
				}
			}
		}
		.Tag{
			@extend .Categones;
			ul{
				padding-left:0;
			}
			li{
				display:inline-block;
				margin-right:15px;
			}
		}
	}
	.hidaside {
		width:100%;
		margin:10px auto;
		text-align:center;
		h4{
			border-bottom:1px solid #ccc;
			text-align:left;
			padding:10px;
		}
		.tag{
			width:80%;
			margin:10px auto;
			display:inline-block;
			ul{
				padding:0;

			}
			li{
				border:1px solid #ccc;
				list-style-type:none;
				display:inline-block;
				margin-left:10px;
				margin-top:5px;
				padding:2px;
				a{
					color:#1C2324;
				}
				&:hover{
					transition:.2s;
					background: #1C2324;
					a{
						color:#fff;
					}
				}
			}
		}
	}
}
.page{
	width:100%;
	height:40px;
	// border:1px solid #000;
}
#footer{
	width:100%;
	height:80px;
	background:#ccc;
	margin-top: 30px;
	p{
		width:80%;
		height:80px;
		margin:0 auto;
		text-align:center;
		padding:25px 0;
		a{
			font-size:.18rem;
			color:#1C2324;
			&:after{
				content:"|";
				margin-left:10px;
			}
			&:last-of-type:after{
				content:"";
			}
		}
	}
}
#top{
	span{
		display:inline-block;
		width:100%;
		height:100%;
		text-align:center;
		font-size:.4rem;
		cursor:pointer;
	}
}