{extend name="base" /} {block name="content"}
<section class="main col-md-9 col-sm-8">
    <ul class="nav nav-pills">
        <li role="presentation" class="active">
            <a href="{:url('index')}">分类列表</a>
        </li>
        <li role="presentation">
            <a href="{:url('addCate')}">添加分类</a>
        </li>
    </ul>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>编号</th>
                <th>名称</th>
                <th>所属分类</th>
                <th>序号</th>
                <th>操作</th>
                <th>全选</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) in res" :key="index">
                <td>{{item.cate_id}}</td>
                <td>{{item.cate_name}}</td>
                <template v-if="item.p_name">
                    <td>{{item.p_name}}</td>
                </template>
                <template v-else>
                    <td>顶级分类</td>
                </template>
                <td>{{item.cate_sort}}</td>
                <td>
                    <span class="dropdown">
                        <a href="#" class="dropdown-toggle btn btn-primary btn-xs" data-toggle="dropdown">操作 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a :href="'eidtCate?cate_id='+item.cate_id">编辑</a></li>
                            <li><a href="javascript:;" @click="delIdFn(item.cate_id)">删除</a></li>
                        </ul>
                    </span>
                </td>
                <td>
                    <input type="checkbox" name="" :checked="item.checked" @click="item.checked = !item.checked">
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="width:20%;">
                    <input type="checkbox" name="" :checked="checkFlag" @click="checkFlag = !checkFlag">
                    <button class="btn btn-danger" @click="delIdFn(delIds)">删除</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="paging">
    </div>
</section>
{/block} {block name="page"}
<page :page-Res="pageRes" @get="getData" @load="load"></page>
{/block}