{extend name="base" /} {block name="content"}

<style type="text/css">
    .Eleditor-controller{
        position: unset;
        margin: 50px 50%;
    }
    .Eleditor-controller ul{
        padding: 10px;
        margin: 0;
    }
    #kindEditor p{
         word-wrap:break-word;
    }
    img{
        width:100%;
    }
</style>
<section class="row container" style="margin: 0 auto; flex-grow:1; width: 100%;">
    <ul class="nav nav-tabs" style="margin-top:10px;">
        <li role="presentation"><a href="{:url('/stu')}">首页</a></li>
        <li role="presentation" class="active">
            <a href="">提交记录</a>
        </li>
    </ul>
    <form  enctype="multipart/form-data" method="Post" role="form" id="LogsForm">
        <div class="col-sm-12" style="padding: 0;" >
            <h4 class="title" style="width:90%;">实习(月)记录</h4>
            <input type="hidden" name="logs_content" id="text">
            <div id="kindEditor" style="width: 80%;margin:0 auto;" style="word-wrap:break-word; "></div>
            <button class="btn btn-primary pull-right" type="button" style="margin: 10px" id="addLogs">
                提交
            </button>
        </div>
    </form>
</section>
{/block}