{extend name="base" /}
{block name="content"}
<style type="text/css">
    .list-group div{
        width:90%;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 20px auto;
        border-radius: 4px;
    }
    .list-group a {
        width: 100%;
        height: 100%;
        display: block;
    }
    .list-group p{
        text-overflow: -o-ellipsis-lastline;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .badge {
        background-color:red;
    }
    .text-right {
        position: absolute;
        right: 6%;
        font-size: 18px;
        bottom: 10px;
    }
    .arc p{
        word-wrap:break-word;
    }
</style>
    <section class="row container" style="margin: 0 auto; width:100%;flex-grow:1;">
        <ul class="nav nav-tabs" style="margin-top:10px;">
            <li role="presentation"><a href="{:url('/stu')}">首页</a></li>
            <li role="presentation" class="active"><a href="">日志反馈</a></li>
        </ul>
        <div class="col-sm-12">
            <h4 class="title" style="width: 96%;display: block;">日志反馈</h4>
                <ul class="list-group">
                    {if condition="!$logs"}
                        <div>没有未阅读的评语</div>
                    {/if}
                    {foreach name="$logs" item="vo" key="k"}
                    <div><a href="{:url('/clogs', ['logs_id' => $vo['logs_id']])}">
                        <p>{$vo['logs_reply']}</p>
                    </a>
                    </div class="arc">
                    {/foreach}
                </ul>
        </div>
    </section>
{/block}
