<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> -->
    <link rel="stylesheet" href="__STATIC__/practiceTeacher/css/font.css">
    <link rel="stylesheet" href="__STATIC__/practiceTeacher/css/xadmin.css">
    <script type="text/javascript" src="__STATIC__/practiceTeacher/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/js/xadmin.js"></script>
    <script type="text/javascript" src="__STATIC__/practiceTeacher/js/cla.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

    </style>
</head>

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb" lay-separator="">
        <a href="javascript:history.back(-1)">返回上级</a>
        </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
                    <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
            <div class="layui-row">
                <div class="layui-col-md2 ">
                    <select name="grade" class="grade layui-input">
                        <option value="">选择一个年级</option>
                        {foreach name="grade" item="v"}
                        <option value="{$v}">{$v}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-col-md2">
                    <select name="city" lay-search class="grade layui-input">
                        <option value="">选择一个教研室</option>
                        {foreach name="staffRoom" item="v"}
                        <option value="{$v}" class="">{$v}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-col-md2">
                    <select name="city" class="grade layui-input" id="specialty">
                        <option value="">选择一个专业</option>
                        {foreach name="specialty" item="v"}
                        <option value="{$v}">{$v}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-form layui-col-md4" id="searchForm" style="float: right;margin-top:5px;">
                    <input id="input" type="text" name="search" placeholder="请输入关键字" class="layui-input" style="width: 60%;display: inline-block;">
                    <button type="button" id="search" class="layui-btn"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
        <table class="layui-table">
            <thead>
                <tr>
                    <th>
                        <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
                    </th>
                    <th>年级</th>
                    <th>班级名称</th>
                    <th>教研室</th>
                    <th>专业</th>
                    <th>操作</th>
                </tr>
                </tbody>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
        <button id="allots" class="layui-btn " data_tchid="{$tch_id}"><i class="layui-icon"></i>添加班级</button>
        <div class="page">
            <div id="test1"></div>
        </div>
    </div>
</body>

</html>